* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html, body {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #dce0e8;
  color: #4c4f69;
}

h1, h2, h3 {
  font-family: "Roboto Condensed", sans-serif;
}
h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h2:not(#showcase-heading){
  border-bottom: 4px solid #4c4f69;
}

h3 {
  font-size: 1.7rem;
}

p {
  font-size: 1.2rem;
  color: #6c6f85
}

a {
  color: #4c4f69;
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

main {
  position: relative;
  top: 4rem;
}

.image-container{
  overflow: hidden;
}

.image-container img {
  width: 100%;
  border-style: none;
  border-radius: 12px;
}

.highlight {
  background-color: #dce0e8;
}


/* Navigation Bar */

header {
  height: 4rem;
  background-color: #eff1f5;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
}

nav {
  width: 100%;
}

nav #desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 1.5rem;
}

nav #desktop #logo {
  display: flex;
  font-family: "Roboto Condensed";
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

nav #desktop #logo-icon {
  height: 3rem;
}

nav #desktop #logo-tone {
  color: #6c6f85;
  font-weight: normal;
}

nav #desktop ul {
  display: flex;
  list-style-type: none;
}

nav #desktop ul li {
  padding-left: 1rem;
  font-size: 1.2rem;
}

nav #desktop ul a:hover {
  border-bottom: 2px solid #6c6f85;
}
nav #mobile {
  display: none;
}

@media only screen and (max-width: 740px) {

  header {
    justify-content: center;
  }
  
  nav #desktop {
    display: none;
  }

  nav #mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  nav #mobile ul {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
  }

  nav #mobile ul li {
    display: flex;
    list-style-type: none;
  }

  nav #mobile a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav #mobile img {
    height: 2.5rem;
  }

}

/* Banner Section */

#banner {
  width: 100%;
  display: flex;
  padding: 2rem 0;
}

#banner .image-container {
  width: 60%;
  max-width: 1104px;
  padding: 0 1.5rem;
}

#banner-info {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  gap: 2.5rem;
  padding: 0 1.5rem;
}

#banner-info button {
  background-color: #4c4f69;
  color: #eff1f5;
  font-size: 1.5rem;
  padding: 1.5rem 0;
  transition: background-color 250ms ease-in-out;
  width: 100%;
  border-radius: 12px;
  border-style: none;
}

#banner-info button:hover {
  background-color: #5c5f77;
  cursor: pointer;
}

@media only screen and (max-width: 1104px) {

  #banner {
    flex-direction: column;
    padding: 0;
  }
  
  #banner .image-container {
    width: 100%;
    max-width: none;
    padding: 0;
  }

  #banner .image-container img {
    border-radius: 0;
  }

  #banner-info {
    width: 100%;
    padding: 2rem 1rem;
    text-align: center;
  }

  #banner-info button {
    background-color: #5c5f77;
  }

  #banner-info button:hover {
    background-color: #4c4f69;
  }
}

/* Information Section */

#information {
  display: flex;
  background-color: #eff1f5;
}

#information #information-showcase {
  width: 60%;
  padding: 0 1.5rem;
}

#information #information-showcase .image-container {
  object-fit: contain;
  padding: 2rem 0;
}

#information-showcase p {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

#information-showcase aside p {
  font-size: 1.1rem;
  font-weight: bold;
}

#information #information-list {
  width: 40%;
  background-color: #eff1f5;
  border-left: 2px solid #dce0e8;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding: 1rem 0.2rem;
}

#information-list .list-item {
  display: flex;
  border: 2px solid #dce0e8;
  border-style: solid none;
}
#information-list .list-item .image-container {
  width: 35%;
  padding: 1rem 0 1rem 1rem;
  max-width: 272px;
}

#information-list .list-item .image-container.mobile {
  display: none;
}

#information-list .image-container img {
  width: 100%;
}

#information-list .list-item .list-item-text {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}

#information-list .list-item-text a {
  color: #04a5e5;
}

@media only screen and (max-width: 740px){

  #information .highlight {
    background-color: transparent;
  }

  #information {
    border-bottom: 2px solid #dce0e8;
  }
  #information-showcase {
    display: none;
  }

  #information #information-list {
    width: 100%;
    padding: 0;
    gap: 2rem;
    padding: 1rem 1rem 2rem;
  }

  #information-list .list-item {
    border: none;
    flex-direction: column;
  }

  #information-list .list-item .image-container:not(.mobile) {
    display: none;
  }

  #information-list .list-item .image-container.mobile {
    display: block;
    width: 100%;
    padding: 0;
    max-width: 576px;
    margin: 0 auto;
  }

  #information-list .list-item .list-item-text {
    width: 100%;
    padding: 1rem;
    align-items: center;
    text-align: center;
  }

}

/* Courses Section */

#courses {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#courses h2 {
  text-align: center;
  padding-top: 2rem;
  width: fit-content;
}

#courses-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 4.5rem;
  gap: 2rem;
  justify-content: center;
}

#courses-container .card {
  background-color: #eff1f5;
  width: 30%;
  max-width: 532px;
  border: 1px solid transparent;
  border-radius: 12px;
  transition: opacity 250ms ease-in-out, background-color 250ms ease-in-out;
}

#courses-container .card:hover {
  background-color: #ccd0da;
  opacity: .8;
}

#courses-container .card .image-container img {
  border-radius: 12px 12px 0 0;
}

#courses-container .card-text{
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1.5rem;
  gap: 0.5rem;
}



#courses-container .card-text p{
  opacity: .8;
}

@media only screen and (max-width: 820px) {
  #courses {
    background-color: #eff1f5;
    border-bottom: 2px solid #dce0e8;
  }

  #courses-container {
    padding: 1rem 1rem 2rem;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;
  }

  #courses-container .card {
    width: 100%;
    background-color: #dce0e8;
    padding: 1rem;
    text-align: center;
    max-width: none;
    transition: background-color 250ms ease-in-out;
  }

  #courses-container .card:hover {
    opacity: 1;
    background-color: #acb0be;
  }

  #courses-container .card-text {
    display: block;
  }

  #courses-container .image-container {
    display: none;
  }

  #courses-container .card-text p {
    display: none;
  }

}

/* Exhibit Section */

#exhibit {
  background-color: #eff1f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#exhibit h2 {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
  width: fit-content;
}

#exhibit-container { 
  display: flex; 
}


#exhibit-showcase {
  width: 60%;
  padding: 0 1.5rem;
}


#exhibit-showcase video {
  width: 100%;
  height: auto;
  border-radius: 12px;
  border-style: none;
}

#exhibit-showcase h3 {
  padding: 1.5rem 0;
}

#exhibit-showcase p {
  padding-bottom: 2rem;
}

#exhibit-list {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-left: 2px solid #dce0e8;
  padding: 0 0.5rem;
  gap: 0.1rem;
}

#exhibit-list .list-item {
  display: flex;
  border: 2px solid #dce0e8;
  border-style: solid none;
} 

#exhibit-list .list-item .image-container {
  width: 30%;
  padding: 1rem 0rem 1rem 1rem;
}

#exhibit-list .list-item .list-item-text {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
  padding: 1rem;
}

@media only screen and (max-width: 714px){
  
  #exhibit h2 {
    padding-bottom: 1rem;
  }

  #exhibit h3, #exhibit p, #exhibit-list {
    display: none;
  }

  #exhibit-showcase {
    padding: 0;
    width: 100%;
    padding-bottom: 1.5rem;
  }

  #exhibit-showcase video {
    border-radius: 0;
  }

}
/* Footer Section */

footer {
  background-color: #eff1f5;
  display: flex;
  justify-content: space-between;
  top: 4rem;
  position: relative;
  padding: 1rem 1.5rem;
  border-top: 2px solid #dce0e8;
}

footer p {
  font-size: 1.1rem;
}

footer ul {
  display: flex;
  gap: 1rem;
}

footer ul li {
  list-style-type: none;
}

footer ul li:hover {
  border-bottom: 2px solid #6c6f85;
}

footer ul li a {
  color: #6c6f85;
}

@media only screen and (max-width: 714px) {
  
  footer {
    border-top: none;
    padding: 1rem;
  }

  footer ul {
    display: none;
  }
}